.featured{
    height: 100vh;
}
.featured--vertical{
    width: inherit;
    height:inherit;
    background: linear-gradient(to top, #111 10%, transparent 90%);
}

.featured--horizontal{
    width: inherit;
    height:inherit;
    background: linear-gradient(to right, #111 20% ,transparent 80%);
}

.featured--name{
    font-size: 80px;
    font-weight: bold;
}

.featured--info{
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;

}